.register {
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
}

.register__wrapper-logo {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.register__logo {
  align-self: flex-start;
}

.register__hello {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 37px;
}

.register__form-container {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.register__span-input {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin-bottom: 4px;
}

.register__span-input_validation {
  color: #ee3465;
  margin-top: 8px;
}

.register__submit-button {
  background: #3456f3;
  height: 45px;
  width: 100%;
  border-radius: 3px;
  border: none;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin-top: 128px;
  margin-bottom: 16px;
}

.register__submit-button:hover {
  opacity: 0.8;
}

.register__input-type {
  border: none;
  border-bottom: solid 1px #e8e8e8;
  background: #fafafa;
  padding-bottom: 11px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
}

.register__is-register {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}

.register__in {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  text-align: center;
  color: #3456f3;
  border: none;
  background: #fafafa;
}

.register__in:hover {
  opacity: 0.7;
}

.register__wrapper-is-register {
  display: flex;
  justify-content: space-between;
  max-width: 224px;
  margin: 0 auto 0 auto;
}

@media (max-width: 780px) {
  .register__wrapper-logo {
    max-width: 395px;
    padding-top: 0px;
  }

  .register__input-type {
    padding-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .register__wrapper-logo {
    width: 100%;
    padding-top: 0px;
    text-align: center;
  }

  .register__hello {
    margin-top: 47px;
  }

  .register__form-container {
    margin-top: 81px;
  }

  .register__form-container {
    max-width: 260px;
  }

  .register__submit-button {
    margin-top: 216px;
    margin-bottom: 14px;
  }

  .register__is-register {
    font-size: 12px;
    line-height: 15px;
  }

  .register__in {
    font-size: 12px;
    line-height: 15px;
  }

  .register__wrapper-is-register {
    max-width: 195px;
  }
}
