.buttonSubmit {
  background: #3456f3;
  border-radius: 3px;
  width: 100%;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  height: 45px;
}

.buttonSubmit:hover {
  opacity: 0.8;
}
